* {
	padding: 0;
	margin: 0;
}


html {
	  scroll-behavior: smooth;
}

body {
	background:white;
	font-family: 'Bree Serif', serif;
	transition: all .7s ease-in-out;

}

body::-webkit-scrollbar{
	width: 10px;
	background:transparent;
}

body::-webkit-scrollbar-thumb{
	background: royalblue;
	border-radius: 30px;
}

a {
	text-decoration: none !important ; 
}

/*
color cielo= #5B2AD9

color azulito cielo= #64D2C1


*/
/* Button Slider Dark Mode */

/* .switch-container { 
	position: absolute;
	bottom: 50px;
} */

#switch-container.flotar {
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 100;
	background: rgb(3, 0, 19);
	width: 100px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}


.switch-title {
	color: #5B2AD9;
	top: 5px;
	position: relative;
	font-weight: 600;
}

.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 25px;
	top: 5px;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 19px;
	width: 19px;
	left: 2px;
	bottom: 3px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #5B2AD9;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }

  /* End Button Slider Dark Mode */

.div-menu {
	width: 100%;
	height: auto;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content:flex-end;
}


.div-sub-menu {
	width: 50%;
	margin-top: 0px;
	margin-left: 0px;
	text-align: right;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.div-sub-menu br{
	display: none;
}

.div-sub-menu a{
	padding: 15px;
	font-size: 20px;
	color:#5B2AD9;
	font-weight:bolder;
	font-weight: 600;

}

.div-sub-menu li, ul {
	padding-top: 10px;
	list-style: none;

}


.div-sub-menu a:hover {
 	text-decoration: none;
}

.boton-1 {
	font-size: 18px;
	font-weight: 700;
	padding: 10px 60px;
	border: none;
	border-radius: 10px;
	color: white;
	background: #5B2AD9;
	margin-right: 10px;
	margin-bottom: 10px;
}

.boton-1:hover{
	transition: all .2s;
	background: rgb(48, 3, 160);
}

.boton-2 {
	font-size: 18px;
	font-weight: 700;
	padding: 10px 20px;
	border: 1.5px solid rgba(0, 0, 0, 0.37);
	border-radius: 10px;
	background: white;
	color: rgba(0, 0, 0, 0.603);
}

.boton-2:hover{
	background: rgba(0, 0, 0, 0.767);
	color: white;
	transition: all .2s;
}

/*----SOBRE MI----*/

.div-sobre-mi {
	width: 100%;
	height: auto;
	/*background: #5B2AD9;*/
	margin-bottom: 100px;
	border-bottom-left-radius: 200px;
	border-bottom-right-radius: 200px;
}

.div-sub-sobre {
	padding-top: 50px;
	padding-bottom: 20px;
}


.div-soy {
	text-align: center;
}

.div-soy img {
	border-radius:100px;
}

.div-soy h1 {
	font-size: 50px;
	font-weight:bolder;
	font-weight: 700;
	color: #2A2A2A;
}

.div-soy strong {
	color: #5B2AD9;
}

.div-soy p {
	margin-bottom: 10px;
	font-size: 20px;
	font-weight:bolder;
	font-weight: 500;
	text-align: center;
	color: #545454;

}

.div-btn-conoceme {
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}




.icon-abajo {
	position: absolute;
	float: right;
	margin-left: 5px;
	margin-top: 0px;

}

.div-desc-soy {
	display: none;
	margin-left: 0;
	text-align: center;
	width:100%;
}

.control-sobre {
	width: 100%;
}

.container-sobre {
	margin-left: 100px;
	margin-right: 100px;
}


.div-desc-soy h1 {
	font-size: 40px;
	color: #5B2AD9;
}

.div-desc-soy h3 {
	font-size: 40px;
}
.div-desc-soy p {
	text-align: center;
	color: #454545;
	font-size: 20px;
}

.active-desc {
	display: block;
	height:auto;
	transition: all .1s linear;
}


/*--------*/
.icono-div {
		display: none;
}
/*--------------*/
.div-portafolio {
	
	padding: 0 0px;
	margin-top: 100px;
}

.div-portafolio p {
	color: #595965;
	text-align: center;
	cursor: pointer;
	font-weight:bolder;
	font-weight: 500;
}

.div-sub-portafolio {
	width: 32%;
	margin-top: 50px;
	margin-left: 1%;
	display: inline-block;
	flex-wrap: wrap;

}


.portafolio{
	border-radius: 20px;
	height: auto;
}

.portafolio:hover {
	transition: all .3s;
	border-radius: 20px;
}

.div-imagen {
	width: 100%;
	height: inherit;
}

.imagen-por {
	flex-wrap: wrap;
	max-width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 20px;
	text-align: center;
}





.div-desc{

}

.div-desc h3, p{
	color: #5B2AD9;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	font-size: 20px;
}


.div-container {
	margin-left: 50px;
	margin-right: 50px;
}


.control-bton {
	width: 100%;
	height: 150px;

}

.div-boton {
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	margin-top: 50px;
	text-align: center;
}

#btn-vermas {
	padding: 10px 40px;
	background: #5B2AD9;

}

.btn-vermas:hover {
	background: white;
	color: #545454;
	transition: all .1s linear;
	text-decoration-line: none;
}

.div-sub-portafolio-2 {
	width: 32%;
	margin-top: 50px;
	margin-left: 1%;
	display: inline-block;
	flex-wrap: wrap;
}

.seccion-ocultos {
	display: none;
}

.is-active {
	display: block;
}


.titulo{
	text-align: center;
	margin-left: 10px;
	margin-top: 30px;
	font-size: 40px;
	font-weight:bolder;
	font-weight: 700;
	color: #5B2AD9;
}

/*-----------------*/
.div-padre-tec {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.div-sub-tec {
	/* box-shadow: 1px 5px 10px gray; */
	border-radius: 20px;
	width: 25%;
	margin-top: 0px;
	margin-left: 0%;
}

.div-tec {
	border-radius: 2px;
	height: auto;
}

.div-imagen-tec {
	width:initial;
	height: auto;
	text-align: center;
}

.div-imagen-tec img{
	width:30%;
}

.div-imagen-tec img:hover{
	transition: all .3s;
	transform: translateY(-20px);
}

.div-tit {
	height: auto;
}


.div-tit h3 {
	color: #5B2AD9;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 20px;
	text-align: center;
	font-weight:bold;
	font-weight: 700;
}

.text-tec {
	color: #595965;
	text-align: center;
	cursor: pointer;
}

/*-----*/

.div-certificados{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.div-certificados h1 {
	color: #5B2AD9;
}

.certificados{
	width: 100%;
	height:auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.certi-tarjert{
	width: 400px;
	margin: 10px auto;
	border-radius: 20px;
}

.certi-img{
	width: 100%;
	height: auto;
}

.certi-img img{
	width: 100%;
	border-radius: 20px;
}

.desc-certi{
	width: 100%;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
}

.desc-certi h2 {
	font-size: 24px;
	color: white;
}

.desc-certi p {
	font-size: 18px;
	color: rgba(255, 255, 255, 0.678);
}

/*------contactos-----*/

.div-trabajemos {
	width: 100%;
	/* background: #5B2AD9; */
	height: 300px;
/*	border-top-right-radius: 200px;
	border-top-left-radius: 200px;*/
}


.div-sub-trab {
	position: relative;
	float: left;
	width: 100%;
	margin-top: 50px;
	text-align: center;
}


.div-sub-trab h2 {
	color: #5B2AD9;
	margin-right: 0px;
}

.div-redes {
	position: relative;
	float: left;
	margin-top: 20px;
	width: 100%;
	text-align: center;
}

.div-redes span {
	padding-left: 20px;
}


.creditos {
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 50px;
}

.creditos a {
	color: rgba(33,33,35);
}

.creditos p {
	color: rgb(0, 0, 0);
}


.div-derechos p {
	color:#5B2AD9;
	padding-top: 10px;
}


/*Seccion estilo para el dark mode*/
body.dark{
	background:rgb(1, 0, 15);
}

body.dark #switch-container.flotar{
	background: rgb(255, 255, 255);
}

body.dark .div-soy h1 {
	color: rgb(255, 255, 255);
}

body.dark .div-soy p {
	color: white;
}

body.dark .boton-2{
	background: transparent;
	color: white;
	border: 1px solid #5B2AD9;
}

body.dark .boton-2:hover{
	background: #5B2AD9;
}

body.dark .div-redes img {
	background: rgb(255, 255, 255);
	padding: 2px;
	border-radius: 50%;
	border: 3px solid #5B2AD9;
}

body.dark .div-redes img:hover{
	transition: all .5s;
	background: white;
}

body.dark .div-portafolio p {
	color:white;
}