@media screen and (max-width: 1024px){

}


@media screen and (max-width: 940px){

	.icono-div {
		position: fixed;
		top: 0;
		float: left;
		margin-top: 0px;
		margin-left: 0px;
		display: block;
		z-index: 3;	
		width: 100%;
	}



	.div-sub-menu br{
		margin-top: 50px;
		display: block;
	}

	.div-menu {
		position: fixed;
		margin-top: 0px;
		background:rgba(45,19,140,0.7);
		width: 100%;
		height: 100vh;
		margin-left: -100vw;
		z-index: 2;	
	}

	.activador-menu{
	
		margin-left: 0px;
		transition: all .2s linear;
		
	}

	.div-menu a{
		color: white;
		text-decoration: none;
		font-size: 40px;
	}

	.div-menu a:hover {
		border-bottom: none;
	}

	.div-sub-menu {
		margin-top: 120px;
	}
	
	.div-sub-portafolio {
		width: 35%;
		margin-top: 50px;
		margin-left: 10%;
		display: inline-block;
		flex-wrap: wrap;

	}

	.div-imagen {
		max-width: 90%;
	}

	.div-container {
		margin-left: 0px;
		margin-right: 0px;
	}

	.div-sub-portafolio-2 {
		width: 35%;
		margin-top: 50px;
		margin-left: 10%;
		display: inline-block;
		flex-wrap: wrap;
	}

	.icono-menu {
		color: #5B2AD9;
		background: white;
		border-radius: 100px;
	}




}


@media screen and (max-width: 610px) {
	.div-sub-tec{
		box-shadow: 0px 0px 20px gray;
		border-radius: 20px;
		width: 80%;
		margin-top: 50px;
		margin-left: 10%;
		display: inline-block;
		flex-wrap: wrap;
	}

	.div-sub-portafolio {
		width: 80%;
		margin-top: 50px;
		margin-left: 10%;
		display: inline-block;
		flex-wrap: wrap;
	}

	.div-sub-portafolio-2 {
		width: 80%;
		margin-top: 50px;
		margin-left: 10%;
		display: block;
		flex-wrap: wrap;
	}

	

}


@media screen and (max-width: 538px){
	
	.icono-div {
		margin-top: 15px;

	}


	.container-sobre {
		margin-left: 0px;
		margin-right: 0px;
	}

	.div-sub-sobre {
		padding-top: 50px;
		padding-bottom: 0px;

	}


	.div-soy h1 {
		font-size: 40px;
	}

	.div-soy p {
		font-size: 20px;
	}

	.conoceme {
		text-decoration: none;
		padding: 12px 12px;
		border-radius: 5px;
		box-shadow: none;
		background: #5B2AD9;
		color: white;
	}


	.btn-vermas {
		text-decoration: none;
		padding: 12px 12px;
		border-radius: 5px;
		box-shadow: none;
		background: #5B2AD9;
		color: white;
	}


	.div-trabajemos {
		height: 400px;
	}

	.div-menu {
		width: 100%;
		
	}







}